<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/product/home.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <title>Document</title>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <section class="catalog-section">
        <h3 class="catalog-title">Artículos en venta</h3>

        <button class="btn btn-default" onclick="window.location.href='/product/add'">
            Agregar Producto
        </button>
        <table class="product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${productList != null and productList.size() > 0}">
                    <th:block th:each="prod : ${productList}">
                        <tr>
                            <td th:text="${prod.id}">Id</td>
                            <td th:text="${prod.title}">Nombre</td>
                            <td class="price-cell" th:text="${prod.price}">Precio</td>
                            <td>
                                <button class="btn btn-secondary" th:onclick="'openProdModal(' + ${prod.id} + ')'">
                                    <span>Abrir detales</span>
                                </button>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </tbody>
        </table>

        <div class="no-products" th:unless="${productList != null and !productList.isEmpty()}">
            <p>No hay artículos disponibles en este momento.</p>
        </div>
    </section>

    <!-- <div th:replace="~{fragments/modal :: modal('modal-producto','Producto','md')}">
        <th:block th:ref="modalBody">
            <h2>Vista previa del producto</h2>

            <article style="display: flex; flex-direction: column; gap:4px;">
                <img id="modal-imagen-producto" src="" alt="" style="display: none; width:30px; height:30px;" />
                <h3 id="modal-titulo-producto">Titulo del producto</h3>
                <span id="modal-precio-producto">Precio</span>
            </article>
        </th:block>

        <th:block th:ref="modalFooter">
            <button onclick="Modal.close('modal-producto')">cerrar</button>
        </th:block>
    </div> -->

    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/product/get.js}" defer></script>
    <script>
        function openGenModal() {
            Modal.open('modal-prueba');
        }
        function closeModal() {
            Modal.close('modal-prueba')
        }

        function openProdModal(id) {
            Modal.open('modal-producto')
            OpenProductDetails(id);
        }
        function closeModal() {
            Modal.close('modal-producto')
        }
    </script>
</body>

</html>