<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link reel="stylesheet" href="index.css" />
    <title>Spring</title>
</head>
<body>
    <h1>Welcome to my Spring Boot project</h1>
    <h5>Usuario</h5>
    <div>
        <span th:text="${user.name}">Nombre</span>
    </div>

    <ul style="display: flex; flex-direction: column;">
        <li th:each="user : ${users}" th:text="${user.name}"></li>
    </ul>
</body>
</html>